<%= form_for(@yandex_news) do |f| %>
  <% if @yandex_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yandex_news.errors.count, "error") %> prohibited this yandex_news from being saved:</h2>

      <ul>
      <% @yandex_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
