%h1.header_title Обзор новостей
%h2 Топ 10 самых упоминаемых слов за сегодня
%ol
  -@rating_words.each do |word|
    %li.rating_on_main
      =word.title
      =word.count
=link_to "Подробнее", words_path, :class => "word_path_more"
%hr
.rus_news
  %h2.main_news Главные новости(РФ)
  -@res_main_rus.each do |title,url|
    .main_news_title=link_to title, url, :target => "_blank", :rel => "nofollow"
.ua_news
  %h2.main_news Главные новости(Украина)
  -@res_main_ua.each do |title,url|
    .main_news_title=link_to title, url, :target => "_blank", :rel => "nofollow"
.other_news
  %hr
  %h2.mail_news Остальные разделы:
  -@categories.each do |title_c|
    -title_c.each do |title_t,url_c|
      =link_to title_t, "javascript:void(0)", :class=>"category_news"
      .news_index{style: "display:none"}
        -url_c.each do |title_u|
          -title_u.each do |title,url|
            =link_to title, "javascript:void(0)",:class=>"news",:data=>{:url=>url}
            .news_content{:class=>"news_content_#{title}"}
.text_container    
