%h1 Поиск по данным 
%label 
  Введите слово или фразу
  %font{style: "color:orange"}
    (данные доступны с 14.02.2015)
%br
=text_field_tag 'search_word'
%br
=label_tag 'искать конкретное слово'
%br
=check_box_tag 'filter'
%br
=label_tag 'начало периода'
%br
=date_field_tag 'time_from'
%br
=label_tag 'конец периода'
%br
=date_field_tag 'time_to'
%br
=submit_tag 'Применить',id: 'search_button'
#search_result

:javascript
  $(document).ready(function(){
  $("#time_from").mask('00.00.0000',{placeholder:'01.01.0001'});
  $("#time_to").mask('00.00.0000',{placeholder:'01.01.0001'});
  });
