%h3 
  Поиск по данным
  =@words_arr.join(" + ")
%table
  %th
    Значение
  %th
    Кол-во
  -s=0
  -@result_words.each do |word|
    -s = s + word.sum_count.to_i
    %tr
      %td=word.title
      %td=word.sum_count
  %tr
    %th
      Сумма
    %th
      =s
%hr
%h3 Мат ожидание
-@expected_array.each do |t|
  =t
  %br
%hr
%h3 Дисперсии
-@new_array_for_d.each do |t|
  =t
  %br
%hr
%h3 Среднеквадратичное отклонение
-@new_array_for_d.each do |t|
  -if t > 0
    =Math.sqrt(t)
  %br
%hr
%h3 Изменения(скачки информации)
-@words_changed.each do |t|
  =t[0]
  %br
  -t[1].each do |ch|
    -c = ch.abs
    -css = "font-size: 12px"
    -if ch >= 0
      -color_css = "color: green"
    -else
      -color_css = "color: red"
    -if c <= 10 
      -css = "font-size: 12px"
    -if c < 30 && c > 10
      -css = "font-size: 14px"
    -if c < 70 && c > 30 
      -css = "font-size: 16px"
    -if c < 110 && c > 70
      -css = "font-size: 18px"
    -if c < 160 && c > 110
      -css = "font-size: 20px"
    -if c < 250 && c > 160
      -css = "font-size: 22px"
    -if c < 400 && c > 250
      -css = "font-size: 24px"
    -if c > 400
      -css = "font-size: 26px"
    %font{style: css + ";" + color_css}
      =ch
  %br
  %p
    =t[2]
%hr
%h3 Среднее за последние 10 дней
%p
  =@middle_in_last_10.inspect
%hr
%h3 Частота упоминаний первых 8 найденых слов по дням
%canvas#canvas{:height => "450",:width => "760",:style=>"float:left"}
#legend
%script
  $(document).ready(function(){
  var data;
  data = {
  labels:
  =raw @time_date.map{|t| "#{t.to_date}"}
  ,
  datasets: [
  -@words.each do |word|
    {
    -rgba = "rgba(#{rand(250)},#{rand(250)},#{rand(250)}"
    ="fillColor: '#{rgba},0.1)',"
    ="strokeColor: '#{rgba},1)',"
    ="pointStrokeColor: '#{rgba},1)',"
    ="pointColor: '#{rgba},1)',"
    scaleLineWidth: 20,
    ="pointHighlightStroke: '#{rgba},1)',"
    ="pointStrokeColor: '#{rgba},1)',"
    ="label: '#{word[0]}',"
    data:
    =word[1]
    },
  ],
  };
  var options;
  options = {
  legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].value%><%}%></li><%}%></ul>"
  }
  var myNewCharts;
  myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);
  var legend = myNewChart.generateLegend();
  $("#legend").append(legend);
  });
%br
%hr{style: "clear:both"}
