= form_for @frequency do |f|
  - if @frequency.errors.any?
    #error_explanation
      %h2= "#{pluralize(@frequency.errors.count, "error")} prohibited this frequency from being saved:"
      %ul
        - @frequency.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :count
    = f.number_field :count
  .actions
    = f.submit 'Save'
