%h1 Listing frequencies

%table
  %tr
    %th Date
    %th Title
    %th Count
    %th
    %th
    %th

  - @frequencies.each do |frequency|
    %tr
      %td= frequency.date
      %td= frequency.title
      %td= frequency.count
      %td= link_to 'Show', frequency
      %td= link_to 'Edit', edit_frequency_path(frequency)
      %td= link_to 'Destroy', frequency, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Frequency', new_frequency_path
