%p#notice= notice

%p
  %b Date:
  = @frequency.date
%p
  %b Title:
  = @frequency.title
%p
  %b Count:
  = @frequency.count

= link_to 'Edit', edit_frequency_path(@frequency)
\|
= link_to 'Back', frequencies_path
