= form_for @dictionary do |f|
  - if @dictionary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dictionary.errors.count, "error")} prohibited this dictionary from being saved:"
      %ul
        - @dictionary.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :value
    = f.text_field :value
  .actions
    = f.submit 'Save'
