%h1 Listing dictionaries

%table
  %tr
    %th Value
    %th
    %th
    %th

  - @dictionaries.each do |dictionary|
    %tr
      %td= dictionary.value
      %td= link_to 'Show', dictionary
      %td= link_to 'Edit', edit_dictionary_path(dictionary)
      %td= link_to 'Destroy', dictionary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dictionary', new_dictionary_path
