%h1.header_title Графики
%hr
.head_of_dates
  -@result_for_req = params[:category_news] ? params[:category_news] : ""
  -@time.each do |day|
    -if @time_search == day
      .date_in_head=d_m_y_for_date(day,"active",@result_for_req)
    -else
      .date_in_head=d_m_y_for_date(day,"nothing",@result_for_req)
  -@categories.each do |cat|
    .rss_in_head=link_to cat.title, "/words/charts?category_news=#{cat.id}#{params[:time].nil? ? "" : "&time=#{params[:time]}"}", data: {id: cat.id},class: "category_news_in_charts #{params[:categoty_news] == cat.id ? "active" : ""} "

%h2
  Топ 8 слов упомянутых за
  =d_m_y_for_date(@time_search)
%hr
  %canvas#canvas{:height => "450",:width => "760",:style=>"float:left"}
  #legend
  %script
    $(document).ready(function(){
    var data;
    data = {
    labels:
    =raw @time_date.map{|t| "#{t.to_date}"}
    ,
    datasets: [
    -@words.each do |word|
      {
      -rgba = "rgba(#{rand(250)},#{rand(250)},#{rand(250)}"
      ="fillColor: '#{rgba},0.1)',"
      ="strokeColor: '#{rgba},1)',"
      ="pointStrokeColor: '#{rgba},1)',"
      ="pointColor: '#{rgba},1)',"
      scaleLineWidth: 20,
      ="pointHighlightStroke: '#{rgba},1)',"
      ="pointStrokeColor: '#{rgba},1)',"
      ="label: '#{word[0]}',"
      data: 
      =word[1].map{|r,e| e}
      },
    ],
    };
    var options;
    options = {
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].value%><%}%></li><%}%></ul>"
    }
    var myNewCharts;
    myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);
    var legend = myNewChart.generateLegend();
    $("#legend").append(legend);
    });
