%h1.header_title Слова
%hr
-#.head_of_dates
  -@time.each do |day|
    -if day == @time.last
      .date_in_head=d_m_y_for_date(day,"active")
    -else
      .date_in_head=d_m_y_for_date(day)
.head_of_rss
  -#@rss_titles.each do |rss|
    .rss_in_head=link_for_rss(rss)
    ,
  -@categories.each do |cat|
    .rss_in_head=link_to cat.title, "javascript:void(0)", data: {id: cat.id},class: "category_news_in_words"
%h2
  Топ 20 слов упомянутых за неделю
  %br
.div_for_empty
  -@words_in_dates.each do |word|
    .table_with_words.column_word
      %table
        %tr
          %th=word.first.date.to_date
          %th
        %tr
          %th Н.
          %th К.
        -word.each do |t|
          %tr
            %td=t.title
            %td=t.count
