-@words_in_dates.each do |word|
  .table_with_words.column_word
    %table
      %tr
        %th=word.first.date.to_date
        %th
      %tr
        %th Н.
        %th К.
      -word.each do |t|
        %tr
          %td=t.title
          %td=t.count

