.table_with_words
  %table
    %tr
      %th Название
      %th Кол-во
      %th Рубрики
    - @words.each do |word|
      %tr
        %td= word.title
        %td= word.count
        %td
          - word.rsses.each do |a|
            =link_to a.title,a
            ,
  %br

