%h1.header_title=@rss.title
%hr

-if !@news.empty?
  -@news.each do |title,url|
    .event_news=link_to title, url, :target => "_blank"
-else
  .event_news В данный момент ничего не найдено

%hr
%h3.header_title Слова упомянутые сегодня
-@words.each do |word|
  =word.title
  , 
