= form_for @category_news do |f|
  - if @category_news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category_news.errors.count, "error")} prohibited this category_news from being saved:"
      %ul
        - @category_news.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
