%h1 Listing category_news

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @category_news.each do |category_news|
    %tr
      %td= category_news.title
      %td= link_to 'Show', category_news
      %td= link_to 'Edit', edit_category_news_path(category_news)
      %td= link_to 'Destroy', category_news, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category news', new_category_news_path
