= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Заголовок"
    = f.text_field :title
  .field
    = f.label "Содержание"
    = f.text_area :description
  .field
    = f.label "Ваше имя"
    = f.text_field :name
  .actions
    = f.submit 'Оставить отзыв'
