%h1 Отзывы
- @posts.each do |post|
  .post_element
    .post_title_head
      Тема:
    .post_title= post.title
    .post_description_head
      Содержание:
    .post_description= post.description
    .post_author_head
      Автор:
    .post_author= post.name

= link_to 'Оставить отзыв', new_post_path, :class => "new_post_input"
