// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field
  label
    font-size: 15pt
    padding: 15px
  #post_title
    margin: 10px 0 10px 50px
    width: 300px
    height: 20px
  #post_description
    margin: 10px 0 10px 28px
    width: 300px
    height: 150px
  #post_name
    margin: 10px 0 10px 54px
    width: 300px
    height: 20px
.actions
  margin: 0 0 0 15px
  input
    padding: 10px
    font-size: 12pt
    background: rgba(55, 164, 224, 0.5)
.new_post_input
  margin: 10px 0 10px 17px
  padding: 8px 44px
  font-size: 12pt
  background: rgba(55, 164, 224, 0.5)
  text-decoration: none
.post_element
  margin: 10px
  padding: 15px 10px 
.post_title_head, .post_description_head, .post_author_head
  font-size: 11pt
  padding: 10px
  margin: 5px 10px
.post_title, .post_description, .post_author
  font-size: 10pt
  padding: 10px
  margin: 5px 10px
  border: 1px dotted rgba(55, 164, 224, 0.5)
    
