// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_button
  padding: 10px 
  margin: 15px 0px
  font-size: 11pt
  background: rgba(54,186,224,0.5)
#search_word, #time_from , #time_to
  width: 250px
  padding: 10px 5px

  
