// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav
  background: rgba(240, 240, 240, 0.7)
  width: 75%
  margin: 0 auto !important
  height: 100%
  padding: 10px 15px
  border-radius: 4px 4px 0 0 
  li
    display: inline-block
    font-size: 16pt
    padding: 5px 0px
    a
      text-decoration: none
      font-family: serif
      font-weight: bold
      color: #357097
      padding: 25px 12px
      &:hover
        background: none
    a.active
      background: rgb(229,235,238) /* Old browsers */
      background: -moz-linear-gradient(top, rgba(123,123,123,0.4) 0%, rgba(123,123,123,0.7) 50%, rgba(123,123,123,0.2) 100%)
      background: -webkit-linear-gradient(top, rgba(123,123,123,0.4) 0%, rgba(123,123,123,0.7) 50%, rgba(123,123,123,0.2) 100%)
      background: -o-linear-gradient(top, rgba(123,123,123,0.4) 0%, rgba(123,123,123,0.7) 50%, rgba(123,123,123,0.2) 100%)
      background: -ms-linear-gradient(top, rgba(123,123,123,0.4) 0%, rgba(123,123,123,0.7) 50%, rgba(123,123,123,0.2) 100%)
      background: linear-gradient(to bottom, rgba(123,123,123,0.4) 0%, rgba(123,123,123,0.7) 50%, rgba(123,123,123,0.2) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ebee', endColorstr='#e5ebee',GradientType=0 )
      color: white
       
    img
      border-radius: 10px
      margin: -25px 30px -25px -40px    
.head_of_rss
  .rss_in_head
    margin: 15px 0px
    display: inline-block
    .category_news_in_words
      text-decoration: none
      padding: 10px 8px
      color: white
      font-size: 15pt
      background: rgba(55, 164, 224, 0.5)
      &.active
        background: rgba(55,164,224,0.9)  
      &:hover
        color: white
        font-size: 15pt
        background: rgba(55,164,224,0.9)  
.table_with_words
  table
    tr
      td
        padding: 5px 1px
      a
        &:hover
          background: none
#legend
  padding: 0 0 0 80%
  .line-legend
    li
      list-style-type: none
      padding: 10px
      span
        display: block
        float: left
        width: 1.5em
        height: 1.5em
        border: 2px solid
        border-radius: 0.5em
        margin-right: 0.5em
.image_load
  margin: 80px 45%  
.head_of_dates
  padding: 0 0 10px
  margin: 15px 0px 0px
  .date_in_head 
    padding: 5px 0px
    display: inline-block
    font-size: 17px
    a
      padding: 10px 7px
      color: white
      text-decoration: none
      font-size: 15pt
      background: rgba(123,123,123,0.5)
      &.active
        background: rgba(123,123,123,0.8)
      &:hover
        background: rgba(123,123,123,0.8)
        text-decoration: none
  .rss_in_head
    margin: 30px 0px 15px
    display: inline-block
    a
      text-decoration: none
      padding: 10px 8px
      color: white
      font-size: 15pt
      background: rgba(55, 164, 224, 0.5)
      &.active
        background: rgba(55,164,224,0.9)  
      &:hover
        color: white
        font-size: 15pt
        background: rgba(55,164,224,0.9)  
.column_word
  display: inline-block
