// Place all the styles related to the yandex_news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body
  background-color: #ffffff !important
  .rus_news
    float: left
    padding: 1% 0 0 1%
    width: 50%
  .ua_news
    width: 49%
    float: right
    padding: 1% 0 0 0
  .other_news
    padding-top: 10px
    clear: both
  .main_news
    font-size: 17pt
    font-family: 'Roboto Condensed', sans-serif
  .main_news_title
    padding: 3px 0
    a
      text-decoration: none
      &:hover
        background: none
        color: #aaa
  .category_news
    display: block
    font-size: 17pt
    color: #143f6f
    padding: 15px 0
    font-family: 'Roboto Condensed', sans-serif
    text-decoration: none
    &:hover
      background: none
      color: #777
  .content
    background: rgba(240,240,240,0.3)
    width: 75%
    margin: 0 auto
    height: 100%
    padding: 15px
  .header_title
    color: #325f91
    font-family: 'Open Sans', sans-serif
  .event_news
    padding: 3px
    a
      text-decoration: none
      &:hover
        background: none
        color: #aaa
  .news
    font-family: 'Roboto Condensed', sans-serif
    font-size: 16pt
    text-decoration: none
    color: #444
    padding: 0 0 0 15px 
    &:hover
      color: rgba(100,100,100,0.8)
      background: rgba(240,240,240,0)
  .news_content
    padding: 10px 15px
  .footer
    width: 100%
    position: fixed
    height: 30px
    bottom: 0
    left: 0
    background: rgba(123,123,123,0.5)
    .footer_center
      width: 76%
      margin: 5px auto
    .pluso
      float: right

.active_process
  -webkit-animation-name: myfirst
  -webkit-animation-duration: 3s
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite
  -webkit-animation-direction: alternate
  -webkit-animation-play-state: running
    /* Standard syntax */
  animation-name: myfirst
  animation-duration: 3s
  animation-timing-function: linear
  animation-iteration-count: infinite
  animation-direction: alternate
  animation-play-state: running

@-webkit-keyframes myfirst
  0%   
    background: rgba(123,123,123,0.1)
  25%   
    background: rgba(123,123,123,0.25)
  50%   
    background: rgba(123,123,123,0.5)
  75%   
    background: rgba(123,123,123,0.75)
  100%
    background: rgba(123,123,123,0.9)

/* Standard syntax */
@keyframes myfirst 
  0%   
    background: rgba(123,123,123,0.1)
  25%   
    background: rgba(123,123,123,0.25)
  50%   
    background: rgba(123,123,123,0.5)
  75%   
    background: rgba(123,123,123,0.75)
  100%
    background: rgba(123,123,123,0.9)
ol
  li.rating_on_main
    font-size: 15pt
    padding: 15px
    margin: 15px
    display: inline-block
    width: 38%
.word_path_more
  font-size: 14pt
  text-decoration: none
  &:hover
    background: none
    color: #232323
    text-decoration: none
    
