<!DOCTYPE html>
<html>
<head>
<title>SilentMouse - анализ новостей</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="icon" href="http://silentmouse.ru/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>

  <%if URI.parse(request.original_url).path.to_s == "/words" %>
    <%content_description = "SilentMouse Слова часто упоминаемые слова в новостях"%>
  <%elsif URI.parse(request.original_url).path.to_s == "/words/charts" %>
    <%content_description = "SilentMouse Графики часто упоминаемые слова в новостях анализ"%>
  <%elsif URI.parse(request.original_url).path.to_s.include? "rss"%>
    <%content_description = "SilentMouse Новости #{@rss.title}"%>
  <%else%>
    <%content_description = "SilentMouse Главная анализ новостей из сети интернет"%>
  <%end%>
  <meta content="новости, сравнение, новостей, silentmouse, big data, анализ слов, часто упоминаемые слова, слова, анализ новослей культуры, анализ новостей политики, часто упоминаемые слова в интернете, анализ интернета, графики новостей " name="keywords">
  <meta content=<%=content_description%> name="description">
</head>
<body>
<div class="nav">
  <ul>
  <li><%=link_to image_tag("logo.png"), root_path%></li>
  <li><%=link_to "Главная", yandex_news_index_path, :class=>(URI.parse(request.original_url).path.to_s == "/yandex_news" ? "active" : "nothing") %></li>
  <li><%=link_to "Анализ", root_path, :class=>(URI.parse(request.original_url).path.to_s == "/" ? "active" : "nothing") %></li>
  <li><%=link_to "Слова", words_path, :class=>(URI.parse(request.original_url).path.to_s == "/words" ? "active" : "nothing")%></li>
  <li><%=link_to "Графики", charts_words_path, :class=>(URI.parse(request.original_url).path.to_s == "/words/charts" ? "active" : "nothing")%></li>
  <li><%=link_to "Отзывы", posts_path, :class=>(URI.parse(request.original_url).path.to_s == "/posts" ? "active" : "nothing")%></li>
  </ul>
</div>
<div class="content">
<%= yield %>
</div>
<div class="footer">
  <div class="footer_center">
    &copy;
    SilentMouse
    2014 &#8211; 2015 
    <div class="pluso" data-background="#ebebeb" data-options="small,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
  </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28116558 = new Ya.Metrika({id:28116558,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28116558" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
